[Unit]
Description=SMTPHook Parser
After=network.target

[Service]
Type=simple
ExecStart=/opt/smtphook/bin/parser
WorkingDirectory=/opt/smtphook/parser
Restart=always
EnvironmentFile=/opt/smtphook/parser/.env

[Install]
WantedBy=multi-user.target
