[Unit]
Description=SMTPHook Parser Service
After=network.target

[Service]
ExecStart=/usr/local/bin/parser
WorkingDirectory=/opt/smtphook/parser
StandardOutput=file:/opt/smtphook/logs/parser.log
StandardError=file:/opt/smtphook/logs/parser.log
Restart=always
User=nobody
EnvironmentFile=/opt/smtphook/.env

[Install]
WantedBy=multi-user.target
