[Unit]
Description=SMTPHook Parser
After=network.target

[Service]
Type=simple
ExecStart=/opt/smtphook/bin/parser
WorkingDirectory=/opt/smtphook/parser
EnvironmentFile=/opt/smtphook/parser/.env
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=smtphook.target
