[Unit]
Description=SMTPHook Webhook
After=network.target
Wants=smtphook.target
PartOf=smtphook.target

[Service]
Type=simple
WorkingDirectory=/opt/smtphook/webhook
ExecStart=/opt/smtphook/bin/webhook
Restart=always
RestartSec=3
StandardOutput=append:/var/log/smtphook/webhook.log
StandardError=append:/var/log/smtphook/webhook.err.log

[Install]
WantedBy=smtphook.target
