[Unit]
Description=SMTPHook Webhook
After=network.target

[Service]
ExecStart=/opt/smtphook/bin/webhook
WorkingDirectory=/opt/smtphook/webhook
Restart=always
EnvironmentFile=/opt/smtphook/webhook/.env

[Install]
WantedBy=smtphook.target
