[Unit]
Description=SMTPHook Webhook Receiver
After=network.target

[Service]
Type=simple
ExecStart=/opt/smtphook/bin/webhook-server
WorkingDirectory=/opt/smtphook/webhook-server
Restart=always
EnvironmentFile=/opt/smtphook/webhook-server/.env

[Install]
WantedBy=multi-user.target
