[Unit]
Description=SMTPHook Webhook
After=network.target
Requires=smtphook.target

[Service]
Type=simple
User=smtphook
WorkingDirectory=/opt/smtphook/webhook
EnvironmentFile=/opt/smtphook/webhook/.env
ExecStart=/opt/smtphook/bin/webhook
Restart=always
RestartSec=5s

[Install]
WantedBy=smtphook.target
